build/lib.linux-x86_64-2.7
*.pyc
__pycache__/
build/
debian/uberwriter/DEBIAN
debian/uberwriter/opt
debian/uberwriter/usr
flatpak/*
!flatpak/uberwriter.json
!flatpak/de.wolfvollprecht.UberWriter.*
!flatpak/flatpak_texlive.json
!flatpak/texlive_install.sh
!flatpak/python3-enchant.json
!flatpak/python3-packages.json
*.py~
data/ui/shortcut_handlers
*.ui~
.vscode/
*.glade~
dist/uberwriter-2.0b0-py3.7.egg
builddir/*
dist/
uberwriter.egg-info
