build/lib.linux-x86_64-2.7
*.pyc
__pycache__/
build/
debian/uberwriter/DEBIAN
debian/uberwriter/opt
debian/uberwriter/usr
bin/
flatpak/*
!flatpak/fonts-download
!flatpak/pandoc-download
!flatpak/pip-download
!flatpak/uberwriter.json
Promo/
*.py~
