[Desktop Entry]
Name=UberWriter
Comment=UberWriter, a simple and distraction free Markdown Editor
Categories=GNOME;GTK;Office;
Exec=uberwriter %U
Icon=uberwriter
Terminal=false
Type=Application
MimeType=text/x-markdown;text/plain;
