@import url("web/web__base.css");

:root {
  --text-color: #d3dae3;
  --background-color: #383c4a;
  --alt-background-color: #3d414f;
  --link-color: #9ac6ff;
  --blockquote-text-color: #8d949d;
  --blockquote-border-color: #555967;
  --header-border-color: #4a4e5c;
  --hr-background-color: #535765;
  --table-tr-border-color: #6c707e;
  --table-td-border-color: #555967;
  --kbd-text-color: #b3bac3;
  --kbd-background-color: #3f4351;
  --kbd-border-color: #6c707e;
  --kbd-shadow-color: #9a9eac;
}