#!/usr/bin/make -f
%:
ifneq ($(shell dh -l | grep -xF translations),)
	dh $@ --with=python3,translations --buildsystem=pybuild
else
	dh $@ --with=python3 --buildsystem=pybuild
endif

override_dh_auto_install:
#	dh_auto_install -- --install-scripts=/opt/extras.ubuntu.com/uberwriter/bin  --install-data=/opt/extras.ubuntu.com/uberwriter --install-lib=/opt/extras.ubuntu.com/uberwriter


override_dh_install:
	dh_install

	python3 setup.py install --root=$(CURDIR)/debian/uberwriter/ \
		--install-scripts=/opt/extras.ubuntu.com/uberwriter/bin \
		--install-data=/opt/extras.ubuntu.com/uberwriter \
		--install-lib=/opt/extras.ubuntu.com/uberwriter

	cp uberwriter_lib/pylocales/locales.db debian/uberwriter/opt/extras.ubuntu.com/uberwriter/uberwriter_lib/pylocales/locales.db

override_dh_python3:
	dh_python3 /opt/extras.ubuntu.com/uberwriter

override_dh_auto_test:
	PYBUILD_DISABLE=test