footer {
    height: 20vh;
    width: 100%;

    position: fixed;
    bottom: 0px;
    z-index: 0;

    display: flex;

    color: whitesmoke;
}

footer a {
    color: whitesmoke;
}

#about, #links {
    display: flex;
    align-items: center;
}

#about {
    margin-left: 30px;
}

#links {
    margin-left: auto;
    margin-right: 30px;
}

#links a{
    margin-left:10px;
}