
section {
    height: 100vh;
    display: flex;
    // align-items: center;
    justify-content: center;
    padding-top: 10vh;
    flex-wrap: wrap;

    background: whitesmoke;
    
}

section img {
    filter: drop-shadow( 0px 10px 40px #888888 );
    width: 80%;
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; */
}

section.dark {
    background: rgba(0, 0, 0, 0);
    height: 900px;
    flex-wrap: wrap;
}

section.programmers {
    height: 80vh;
    width: 100%;

    position: absolute;
    /* margin-top: -10vh; */
    margin-bottom: 20vh;
    /* padding-top: 10vh; */

    display: flex;
    flex-flow: wrap;

    z-index: 2;

    background: whitesmoke;
    box-shadow: 0px 20px 40px 0px #1010104f;
}

.programmer {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

