
section {
    height: 100vh;
    display: flex;
    // align-items: center;
    justify-content: center;
    padding-top: 10vh;

    background: whitesmoke;
    
}

section img {
    filter: drop-shadow( 0px 10px 40px #888888 );
    width: 80%;
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; */
}

section.dark {
    background: rgba(0, 0, 0, 0);
}

section #programmers {
    height: 50vh;
    width: 100%;

    position: absolute;
    margin-top: -10vh;

    z-index: -1;

    background: whitesmoke;
}

section #footer {
    height: 50vh;
    width: 100%;

    position: fixed;
    top: 50vh;
    z-index: -2;

    color: whitesmoke;
}

