/*
  TODO:
  Look into compiling resources with glib-compile-resource etc. for 
  inclusion in templates
*/

@binding-set editor-bindings {
  bind "<ctl>i" { "insert-italic" () };
  bind "<ctl>b" { "insert-bold" () };
  bind "<ctl>r" { "insert-hrule" () };
  bind "<ctl>u" { "insert-listitem" () };
  bind "<ctl>h" { "insert-header" () };
  bind "<ctl>z" { "undo" () };
  bind "<ctl>y" { "redo" () };
  bind "<ctl><shift>d" { "insert-strikethrough" () };
  /*bind "<ctl>t" { "insert-at-cursor" ('[ ] ') };*/
  bind "<ctl><shift>z" { "redo" () };
}

@define-color code_bg_color mix(@theme_base_color, @theme_fg_color, 0.05);

/* Main window and text colors */

.uberwriter-window {
  background: @theme_base_color;
  color: @theme_fg_color;
  caret-color: @theme_fg_color;
}

.uberwriter-window.focus:not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.maximized):not(.fullscreen) {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.uberwriter-window.focus:not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.maximized):not(.fullscreen):dir(ltr) scrollbar {
  border-top-right-radius: 8px;
}

.uberwriter-window.focus:not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.maximized):not(.fullscreen):dir(rtl) scrollbar {
  border-top-left-radius: 8px;
}

#titlebar-revealer {
  padding: 0;
}

.scrollbars-junction,
.scrollbar.trough {
  background: transparent;
}

#titlebar-container {
  background: @theme_base_color;
}

.uberwriter-editor {
  -gtk-key-bindings: editor-bindings;
  border: none;
  background-color: transparent;
  text-decoration-color: @error_color;
  font-family: 'Fira Mono', monospace;
  font-size: 16px;
}

.uberwriter-editor.size14  {
  font-size: 14px;
}

.uberwriter-editor.size15  {
  font-size: 15px;
}

.uberwriter-editor.size16  {
  font-size: 16px;
}

.uberwriter-editor.size17  {
  font-size: 17px;
}

.uberwriter-editor.size18 {
  font-size: 18px;
}

.uberwriter-editor text {
  background-color: @theme_base_color;
  color: @theme_fg_color;
  caret-color: @theme_fg_color;
}

.uberwriter-editor text selection {
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

.uberwriter-editor button {
  margin: 0;
  padding: 0;
  /*background: #CCC;*/
}

.uberwriter-editor toolbar {
  /*background: transparent;*/
  border: none;
  padding: 0;
}

.inline-button {
  color: alpha(@theme_fg_color, 0.6);
  text-shadow: inherit;
  box-shadow: initial;
  background-clip: initial;
  background-origin: initial;
  background-size: initial;
  background-position: initial;
  background-repeat: initial;
  background-image: initial;
  border-image-source: initial;
  border-image-repeat: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-style: none;
  padding: 0px 16px;
  transition: 100ms ease-in;
}

.inline-button:hover,
.inline-button:checked {
  color: @theme_fg_color;
  background-color: mix(@theme_base_color, @theme_bg_color, 0.5);
}

.uberwriter-window treeview {
  padding: 4px 4px 4px 4px;
}

.lexikon {
  font-family: serif;
  font-size: 12px;
  background: @theme_bg_color;
  border: 4px solid @theme_bg_color;
}

.lexikon .header {
  font-family: serif;
  font-size: 14px;
  padding-top: 16px;
  padding-bottom: 4px;
  font-weight: bold;
}

.lexikon .header.first {
  padding-top: 0px;
}

.lexikon .number {
  padding-left: 16px;
  padding-right: 4px;
}

.quick-preview-popup {
	background-color: @theme_bg_color;
  padding: 8px 12px 8px 12px;
}

.quick-preview-popup grid {
	background-color: @theme_bg_color;
	color: @theme_fg_color;
	border-color: @theme_bg_color;
}

.quick-preview-popup label {
	color: @theme_fg_color;
}