/*
  TODO:
  Look into compiling resources with glib-compile-resource etc. for 
  inclusion in templates
*/

#UberwriterWindow {
  background: #FFF;
}
#UberwriterWindow GtkTextView {
  border: none;
  -GtkWidget-cursor-color: shade(@selected_bg_color, 0.9);
  -GtkWidget-cursor-aspect-ratio: 0.05;
  background: transparent ;
  color: #222;
}

#UberwriterWindow GtkTextView GtkButton {
  margin: 0;
  padding: 0;
  background: #CCC;
}

#UberwriterWindow GtkScrolledWindow {
  background: white;
}

#UberwriterWindow GtkToolbar {
  background: transparent;
  border: none;
  padding: 0;
}

#UberwriterWindow GtkTextView:selected {
  background-color: @selected_bg_color;
  color: @selected_fg_color;
}

#UberwriterWindow GtkPaned, #UberwriterWindow GtkScrolledWindow,
#UberwriterWindow GtkScrolledWindow:backdrop {
  background-color: white;
  background-clip: initial;
  background-origin: initial;
  background-size: initial;
  background-position: initial;
  background-repeat: initial;
  background-image: initial;
}

#status_bar_box GtkLabel {
  color: #666;
  transition: 500ms ease-in-out;
}

#status_bar_box GtkButton {
  /* finding reset */
  background-color: initial;
  text-shadow: inherit;
  icon-shadow: inherit;
  box-shadow: initial;
  background-clip: initial;
  background-origin: initial;
  background-size: initial;
  background-position: initial;
  background-repeat: initial;
  background-image: initial;
  border-image-source: initial;
  border-image-repeat: initial;
  border-image-slice: initial;
  border-image-width: initial;

  border-style: none;
  -GtkButton-images: true;
  border-radius: 2px;
  color: #666;
  padding: 3px 5px;
  
  -GtkButton-child-displacement-y: 0px;
  -GtkButton-child-displacement-x: 0px; 
  -GtkButton-default-border: 0;
  -GtkButton-image-spacing: 5px;
  -GtkButton-interior-focus: false;
  -GtkButton-inner-border: 0;
  
  transition: 500ms ease-in;

}

#status_bar_box GtkButton:hover,
#status_bar_box GtkButton:active:hover {

  transition: 0s ease-in;
  color: #333;
  background: #EEE;
}


#status_bar_box GtkButton:active {
  color: #EEE;
  background-color: #EEE;
  background-image: none;
  box-shadow: 0 0 2px rgba(0,0,0,0.4)
}

#status_bar_box GtkLabel:insensitive {
  color: rgba(255,255,255,0);
  transition: 500ms ease-in-out;
}

#status_bar_box GtkButton:insensitive {
  background: rgba(255,255,255,0);
  transition: 500ms ease-in-out;
  box-shadow: 0 0 0 #FFF;  
}
#status_bar_box GtkSeparator {
  border-color: #999;
  border-right: none;
  transition: 500ms ease-in-out;

}
#status_bar_box GtkSeparator:insensitive {
  background: rgba(255,255,255,0);
  border-color: rgba(255,255,255,0);
  transition: 500ms ease-in-out;
}

#PreviewMenuItem GtkImage {
  border-radius: 2px;
  color: #666;
  padding: 3px 5px;
  border: none;
  background: #FFF;
}


#UberwriterWindow GtkTreeView {
  color: #333;
  font-size: 10;
}

#UberwriterWindow GtkBox {
  background: #FFF;
}